html, body {
	overflow: hidden;
}

body {
	background-color: #ddd;
	margin:0;
	padding:0;
}

body * {
	font-family: Verdana;
}

aside {
	position: fixed;
	top: 0;
	left: 0;
	width: 20vw;
	height: 100vh;
	background-color: #151515;
}

.presentation img {
	border-radius: 50%;
	width: 15vw;
	height: 15vw;
	margin-left: 12%;
	margin-top: 15%;
	margin-bottom: 15%;
}

a,
a:hover,
a:focus,
a:active {
	color: black;
}

.options button {
	outline: none;
	border: none;
	margin:0;
	padding:0;
}

.options button {
	text-align: center;
	min-width: 100%;
	padding: 4.4vh 0;
	background-color: #151515;
	color: white;
	cursor: pointer;
	font-size: calc(0.8vw + 0.8vh);
}

.options button:hover {
	background-color: #222;
}

.options button:active {
	background-color: #444;
}

aside footer {
	font-size: calc(0.5vw + 0.5vh);
	text-align: center;
	width: 100%;
	position:absolute;
	bottom:0;
	padding-bottom: 1%;
	color:white;
}

.main-content {
	font-size: calc(1vw + 1vh);
	position:absolute;
	left: 20vw;
	top:0;
	width: 80vw;
	height: 100%;
	overflow-y: scroll;
}

.main-content p {
	margin: 0;
	padding: 0;
}

.title {
	text-align: center;
	margin: 0 0 2% 0;
}

.info {
	margin: 1% 4% 2% 4%;
	padding: 2%;
	border-radius: 3px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.fancy-scrollbar::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius: 10px;
	background-color: transparent;
}

.fancy-scrollbar::-webkit-scrollbar
{
	width: .4em;
	background-color: transparent;
}

.fancy-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: rgba(0,0,0,.2);
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
}

.fixed-logos {
	width: 76vw;
	position: fixed;
	left:22vw;
	bottom: 2vh;
	display: flex;
	justify-content: flex-end;
}

.fixed-logos img {
	height: calc(3.5vw + 3.5vh);
}
