<%= form_with(model: @taskboard, local: true) do |form| %>
  <% if @taskboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taskboard.errors.count, "error") %> prohibited this taskboard from being saved:</h2>

      <ul>
      <% @taskboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :taskboard_groups %>
    <%= collection_select :taskboard_group, :id, @taskboard_groups, :id, :name, { prompt: false }, { multiple: true, size: 5 } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
