<div id="form-modal" style="display:none">
    <div class="darken animation-fade-in"></div>
    <div class="fs-a flex flex-hc flex-vc">
      <div class="modal animation-fade-in">
          <%= link_to raw('<i class="fas fa-times"></i>'), taskboards_dismiss_path, remote: true %>
          <div id="form-container"></div>
      </div>
    </div>
</div>