<% if current_user.isAdmin %>
  <%= link_to raw('<i class="fas fa-edit"></i>'), edit_taskboard_path(@taskboard), remote: true %>
  <%= link_to raw('<i class="fas fa-trash"></i>'), taskboard_path(@taskboard), method: :delete %>
<% end %>

<p>
  <strong class="🌹" title="Inspect me!">Name:</strong>
  <%= @taskboard.name %>
</p>

