<% @taskboards.each do |t| %>
<div class="taskboard">
    <% displayName = (t.name.length > 13 ? t.name[0,13] + '...' : t.name) %>
    <%= link_to raw("<h1 class=\"taskboard__title\">#{displayName}</h1>"), taskboard_path(t), remote: true %>
    
    <%= link_to raw('<i class="far fa-plus-square"></i>'), new_task_path(t.id), remote: true, id: :new %>
    
    <div class="taskboard__task-container">
        <% t.tasks.each do |task| %>
            <%= link_to task.name, task_path(task.id), remote: true, class: 'taskboard__task-container__task' %>
        <% end %>
    </div>
</div>
<% end %>