<% case @action

   when 'show-taskboard-group' %>
$("#taskboards-container").attr("data-group", "<%= @taskboardGroupId != '0' ? @taskboardGroupId : nil %>")
$("#taskboards-container").html("<%= j render(partial: 'taskboards') %>")

<% when 'edit-taskboard-group', 'new-taskboard-group' %>
taskboardManager.setForm("<%= j render(partial: 'taskboard_groups/form') %>")
taskboardManager.showModal()

<% when 'show-taskboard' %>
taskboardManager.setForm("<%= j render(partial: 'show') %>")
taskboardManager.showModal()

<% when 'edit-taskboard' %>
taskboardManager.setForm("<%= j render(partial: 'form') %>")

<% when 'new-taskboard' %>
taskboardManager.setForm("<%= j render(partial: 'form') %>")
taskboardManager.showModal()

<% when 'show-task'%>
taskboardManager.setForm("<%= j render(partial: 'tasks/show') %>")
taskboardManager.showModal()

<% when 'edit-task' %>
taskboardManager.setForm("<%= j render(partial: 'tasks/form') %>")

<% when 'new-task' %>
taskboardManager.setForm("<%= j render(partial: 'tasks/form') %>")
taskboardManager.showModal()

<% when 'dismiss-modal' %>
taskboardManager.hideModal()

<% else%>

<% end %>
