<% content_for :css do %>
  <%= stylesheet_link_tag params[:controller] %>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag 'jquery.min.js' %>
  <%= javascript_include_tag params[:controller] %>
<% end %>

<% content_for :navbar_options do %>
  <% if current_user.isAdmin %>
    <%= link_to "New Taskboard", new_taskboard_path, remote: true %>
  <% end %>
<% end %>

<% content_for :aside do %>
  <aside class="left-aside">
    <div class="taskboard-groups-container">
      <h1 class="taskboard-groups-container__title">Taskboard Groups</h1>
      
      <% if current_user.isAdmin %>
        <%= link_to raw('<i class="far fa-plus-square"></i>'), new_taskboard_group_path, remote: true, id: :new %>
      <% end %>

      <ul id="taskboard-groups">
        <li>
          <%= button_to "ALL", taskboards_load_group_url(0), remote: true, method: :post %>
        </li>
        <% @taskboardGroups.each do |g| %>
          <li>
            <%= button_to g.name.length > 9 ? g.name[0,9] + '...' : g.name, taskboards_load_group_url(g.id), remote: true, method: :post %>

            <% if current_user.isAdmin %>
              <%= link_to raw('<i class="fas fa-edit"></i>'), edit_taskboard_group_path(g.id), remote: true, id: 'edit' %>
              <%= link_to raw('<i class="fas fa-trash"></i>'), taskboard_group_path(g.id), method: :delete, id: 'delete' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </aside>
<% end %>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<div id="taskboards-container"><%= render partial: 'taskboards/taskboards', locals: { taskboards: @taskboards } %></div>

<%= render 'modal' %>
