<h1 class="container__title">Grade Curricular de Ciência da Computação</h1>
<h2 class="container__subtitle">Grade curricular de 2018/1 do curso</h2>

<table class="beautify-table clickable-cells" oncontextmenu="return false;">
	<thead>
		<tr>
			<th colspan="8">Grade Curricular &mdash; BCC</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>CI068</td>
			<td>CI210</td>
			<td>CI212</td>
			<td>CI215</td>
			<td>CI162</td>
			<td>CI163</td>
			<td>CI221</td>
			<td>OPT</td>
		</tr>
		<tr>
			<td>CI055</td>
			<td>CI056</td>
			<td>CI057</td>
			<td>CI062</td>
			<td>CI065</td>
			<td>CI165</td>
			<td>CI211</td>
			<td>OPT</td>
		</tr>
		<tr>
			<td>CM046</td>
			<td>CI067</td>
			<td>CI064</td>
			<td>CE003</td>
			<td>CI059</td>
			<td>CI209</td>
			<td>OPT</td>
			<td>OPT</td>
		</tr>
		<tr>
			<td>CM045</td>
			<td>CM005</td>
			<td>CI237</td>
			<td>CI058</td>
			<td>CI061</td>
			<td>CI218</td>
			<td>OPT</td>
			<td>OPT</td>
		</tr>
		<tr>
			<td>CM201</td>
			<td>CM202</td>
			<td>CI166</td>
			<td>CI164</td>
			<td>SA214</td>
			<td>CI220</td>
			<td>TG I</td>
			<td>TG II</td>
		</tr>
	</tbody>
</table>