<h1 class="container__title">Pesquisar GRR</h1>
<h2 class="container__subtitle">Visualize o histórico de um aluno digitando seu GRR</h2>

<form id="search-form">
    <input type="text" class="container__input-text" placeholder="Digite o GRR" />
    <button class="btn btn-blue" id="search-button">Pesquisar</button>
</form>