@import url('https://fonts.googleapis.com/css?family=Lato');

$IDV_BLUE: #1C114A;

body, html {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

a {
    &, &:visited {
        color: #fff;
    }

    &, &:focus, &:active, &:visited {
        text-decoration: none;
    }

    &:hover {
        background-color: rgba(0,0,0,0);
    }
}

button, input[type=submit] {
    &, &:active, &:focus {
        outline: none;
        border: none;
        background-color: rgba(0,0,0,0);
    }

    &:hover {
        cursor: pointer;
    }
}

select[multiple] {
    width: 100%;
    text-align: center;
}

.field {
    input {
        padding: 5px 10px;
        width: 90%;
        border: 2px dashed rgba(0,0,0,0.4);
        border-radius: 3px;
        
        &:focus {
            outline: none;
        }
    }
}

.actions {
    input[type=submit] {
        padding: 5px 10px;
        width: 100%;
        border: 2px solid rgba(0,0,0,0.4);
        border-radius: 3px;
        transition: .3s ease;
        font-weight: bold;
        color: rgba(0,0,0,0.4);
        
        &:hover {
            background-color: rgba(0,0,0,0.4);
            color: white;
            transition: .3s ease;
        }
    }
}

.navbar {
    display: inline-block;
    height: 72px;
    width: 100vw;
    background-color: $IDV_BLUE;
    display: flex;
    align-items: center;

    &__title {
        font-size: 16pt;
        font-weight: 400;
        margin-left: 20px;
        color: #fff;
    }

    &-options {
        display: block;
        height: 42px;
        border-bottom: 1px dashed rgba(0,0,0,0.4);

        button, a {
            float: right;
            min-height: 42px;
            width: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            border-left: 1px solid rgba(0,0,0,0.4);

            &:hover {
                background-color: rgba(0,0,0,0.2);
            }
        }

        a, a:focus, a:active, a:visited {
            text-decoration: none;
        }
    }
}

.🌹 {
    color: #ff0000;
}

.flex {
    display: flex;

    &-hc {
        justify-content: center;
    }

    &-vc {
        align-items: center;
    }
}

%fs {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.fs {
    &-a {
        position: absolute;
        @extend %fs;
    }

    &-f {
        position: fixed;
        @extend %fs;
    }

    &-r {
        position: relative;
        @extend %fs;
    }
}

.darken {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}

.modal {
    background-color: #fff;
    padding: 13px 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);

    [class*=fa-times] {
        float: right;
        color: #000;
    }
}

.left-aside {
    float: left;
    margin: 30px;
}

.main-title {
    margin: 15px;
    margin-top: 40px;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 18pt;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.btn {
    padding: 8px 17px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: transparent;

    &:active, &:focus, &:visited {
        outline: none;
        text-decoration: none;
    }

    &:hover {
        cursor: pointer;
    }

    &--start {
        border: 3px solid white !important;
        color: #fff;
        font-size: 14pt;
        transition: .6s ease;

        &:hover {
            transition: .6s ease;
            color: $IDV_BLUE;
            background-color: #fff;
        }
    }
}

.clearfix {
    display: block;
    clear: both;
}

/* Fix for color of all icons */
[class*=fa-] {
    color: #000;

    &:hover {
        background-color: #fff;
    }
}

.animation {
    &-fade-in {
        animation: fade-in 1s ease;

        &-up {
            animation: fade-in 2s ease, down-up 2s ease;
        }
    }

    &-disappear {
        animation: disappear .3s ease forwards;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes down-up {
    from {
        transform: translateY(80px);
    }

    to {
    }
}

@keyframes disappear {
    from {
    }

    to {
        opacity: 0;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
