// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base';

body {
    background-color: $IDV_BLUE;
    min-height: 100vh;
    overflow: hidden;
}

.home {
    &-title {
        font-size: 20pt;
        color: #fff;
        font-weight: 400;
    }
}