// Place all the styles related to the Taskboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base';

#taskboards-container {
    float: left;
    overflow-x: scroll;
    max-height: 85vh;
    max-width: 70vw;
    white-space: nowrap;
    user-select: none;
}

.taskboard {
    width: 260px;
    height: 350px;
    margin-right: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;

    &:last-child {
        margin-right: none;
    }

    &__title {
        font-weight: 300;
        font-size: 15pt;
        padding: 15px;
        height: 20px;
        margin: 0;
        color: #000;
    }

    #new {
        float: right;
        position: relative;
        top: -33px;
        right: 15px;
        font-size: 12pt;
    }

    &__task-container {
        height: 270px;
        width: calc(100% - 30px);
        border-top: 1px solid rgba(0,0,0,0.3);
        padding: 15px;
        overflow-y: scroll;

        &__task {
            display: block;
            max-width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border: 1px solid rgba(0,0,0,0.3);
            box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
            border-radius: 4px;
            margin: auto;
            margin-bottom: 10px;
            padding: 5px 15px;
            user-select: none;
            color: #000;
            text-decoration: none;
            
            &:hover, &:visited, &:active, &:focus {
                color: #000;
                background-color: #fff;
                text-decoration: none;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.082);
            }

            &:active {
                background-color: rgba(0, 0, 0, 0.13);
            }
        }
    }

    &-groups {
        &-container {
            width: 20vw;
            background-color: #fff;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
            border-radius: 4px;
            padding: 15px;

            &__title {
                font-weight: 200;
                font-size: 14pt;
            }

            #new {
                color: #000;
                
                > [class*=far] {
                    float: right;
                    position: relative;
                    top: -40px;
                    right: 10px;
                    font-size: 16pt;
                }
            }

            #edit {
                color: #000;
                
                > [class*=fas] {
                    float: right;
                    position: relative;
                    top: -20px;
                    right: 20px;
                }
            }

            #delete {
                color: #000;

                > [class*=fas] {
                    float:right;
                    position: relative;
                    top: -20px;
                    right: -10px;
                }
            }

            ul {
                list-style: none;

                > li {
                    width: 60%;
                    border: 2px solid $IDV_BLUE;
                    color: $IDV_BLUE;
                    font-weight: bold;
                    border-radius: 3px;
                    margin-bottom: 10px;
                    transition: .3s ease;
                    
                    form {
                        &, input[type=submit] {
                            width: 100%;
                            height: 100%;
                            text-align: left;
                        }

                        input[type=submit] {
                            padding: 5px 15px;
                        }
                    }

                    &:hover, &:hover * {
                        cursor: pointer;
                        background-color: $IDV_BLUE;
                        color: white;
                        transition: .3s ease;
                    }

                    &:active {
                        transform: scale(0.9,0.9);
                        transition: .1s ease;
                    }
                }
            }
        }
    }
}
