<% content_for :css do %>
    <%= stylesheet_link_tag params[:controller] %>
<% end %>

<div class="flex flex-vc flex-hc fs-a">
    <div class="animation-fade-in-up">
        <h1 class="home-title">Welcome to this Taskboard APP</h1>
        <div class="flex flex-hc">
            <%= button_to 'Get Started', { controller: :taskboards, action: :index }, { class: 'btn btn--start', method: :get } %>
        </div>
    </div>
</div>
