html {
	font-family: Lato;
	font-weight: 200;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ddd;
}

main {
	margin-top: 102px;
}

input:focus {
  outline: none;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
  z-index: 5;
	height: 72px;
	background-color: #281657;
}

.navbar__title {
	font-size: 16pt;
	text-transform: uppercase;
	color: #ddd;
	position: relative;
	top: 10px;
	left: 60px;
}

.navbar__title:hover {
	cursor: default;
}

.container {
	display: block;
	width: 75%;
	margin: auto;
  margin-bottom: 30px;
  border-radius: 3px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 1px;
  padding: 15px;
  min-height: 240px;
}

.container__title {
  font-weight: 400;
  font-size: 16pt;
}

.container__subtitle {
  font-weight: 200;
  font-size: 12pt;
  color: #555;
}

[class*=container__input] {
  border: 2px solid #ccc;
  background-color: #eee;
  padding: 5px 15px;
  border-radius: 4px;
  width: 50%;
  margin: auto;
  font-size: 14pt;
  color: #999;
  transition: border-color .7s ease;
}

[class*=container__input]::placeholder {
  color: #ccc;
}

.flex {
  display: flex;
}

.flex-ai-c {
  -ms-align-items: center;
  align-items: center;
}

.flex-jc-c {
  justify-content: center;
}

.error-message {
  font-size: 10pt;
  font-weight: 600;
  color: red;
}

.btn:hover {
  cursor: pointer;
}

.btn, .btn:hover, .btn:focus, .btn:active {
  outline: none;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 15pt;
  font-family: Lato;
}

.btn-blue {
  background-color: #3B3176;
  color: white;
}

.vscroll {
  overflow-y: scroll;
}

.hscroll {
  overflow-x: scroll;
}

.page-fit {
  max-height: 70vh;
}

#grade-curricular .beautify-table {
  margin-top: 40px;
  margin-bottom: 40px;
}

.beautify-table {
  table-layout: fixed;
  margin: auto;
  border-collapse: collapse;
}

.beautify-table * {
  border-collapse: collapse;
}

.beautify-table td {
  font-size: 14pt;
  transition: .6s ease;
}

.beautify-table th {
  font-size: 16pt;
  border-right: 1px solid #ccc;
}

.beautify-table th:last-child {
  border-right: none;
}

.beautify-table td,
.beautify-table th {
  min-width: 70px;
  text-align: center;
  padding: 5px 15px;
}

.beautify-table thead > th {
  border-right: 1px solid #ccc;
}

.beautify-table thead > th:last-child {
  border-right: none;
}

.beautify-table tr > td {
  border-top: 1px solid #ccc;
}

.beautify-table.clickable-cells td:hover {
  cursor: pointer;
  filter: brightness(85%);
  background-color: white;
  transition: .1s ease;
}

.fullscreen-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.darken {
  background-color: black;
  z-index: 1;
  -webkit-animation: darken-animation .7s ease;
  -o-animation: darken-animation .7s ease;
  animation: darken-animation .7s ease;
  opacity: 0.4;
}

@keyframes darken-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.4;
  }
}

.modal {
  overflow: hidden;
  background-color: white;
  border-radius: 3px;
  min-width: 30vw;
  min-height: 30vh;
  max-height: 70vh;
  -webkit-animation: modal-animation 0.6s ease;
  -o-animation: modal-animation 0.6s ease;
  animation: modal-animation 0.6s ease;
}

.modal__title,
.modal__content {
  width: 100%;
  margin: 0;
  padding: 15px;
}

.modal__title {
  font-size: 16pt;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
  max-height: 15vh;
  overflow-y: scroll;
}

.modal__content {
  font-size: 13pt;
  font-weight: 200;
  max-height: calc(55vh - 30px);
  overflow-y: scroll;
}

.modal-container {
  z-index: 1;
}

@keyframes modal-animation {
  0%, 20% {
    width: 0;
    min-width: 0;
    min-height: 2px;
    height: 2px;
  }

  60% {
    width: 30vw;
    min-width: 30vw;
    min-height: 2px;
    height: 2px;
  }

  100% {
    width: unset;
    min-width: 30vw;
    min-height: 30vh;
    height: unset;
  }
}

[data-state="approved"] {
  background-color: #549431;
}

[data-state="reproved"] {
  background-color: #F1272C;
}

[data-state="enrolled"] {
  background-color: #5E4BB2;
}

[data-state="equivalence"],
[data-state="cancelled"] {
  background-color: #F3F328;
}



/* ----------------------------------------------------- */
/* LOADER FROM https://projects.lukehaas.me/css-loaders/ */
/* ----------------------------------------------------- */

.loader,
.loader:before,
.loader:after {
  background: #000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #000;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
