<%= form_with(model: @taskboard_group, local: true) do |form| %>
  <% if @taskboard_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taskboard_group.errors.count, "error") %> prohibited this taskboard_group from being saved:</h2>

      <ul>
      <% @taskboard_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
