<!DOCTYPE html>
<html>
  <head>
    <title><%= @pageTitle ? @pageTitle : 'Taskboard Manager APP' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <%= stylesheet_link_tag    '/css/fontawesome-all.min.css', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :js %>
  </head>

  <body>
    <nav class="navbar">
      <h1 class="navbar__title"><a href="/"><%= @navbarTitle ? @navbarTitle : raw('Welcome to <s>Trello</s> the Taskboard Manager') %></a></h1>
    </nav>
    <% if !@navbarDisableOptions %>
    <div class="navbar-options">
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
        <%= yield :navbar_options %>
    </div>
    <div class="clearfix"></div>
    <% end %>

    <% if @mainTitle %>
      <h1 class="main-title"><%= @mainTitle %></h1>
    <% end %>

    <%= yield :aside %>
    
    <main>
        <%= yield %>
    </main>
  </body>
</html>
