body {
	margin: 0;
	padding: 0;
}

div {
	display: inline-block;
}

#the-canvas {
	position: absolute;
	top: 0;
	left: 0;
	/*z-index: -1;*/
}

.above-all {
	position: relative;
	z-index: 1;
}

button, button:hover, button:focus, button:active {
	outline: none;
	border: none;
	padding: 5px 15px;
	border-radius: 4px;
}

button:hover {
	cursor: pointer;
}

#go {
	font-family: Lato;
	background-color: #5050ff;
	font-size: 14pt;
	color: white;
	font-weight: bold;
}

#go:hover {
	background-color: #3030dd;
}

#go:active {
	background-color: #4040ee;
}