<% content_for :css do %>
  <%= stylesheet_link_tag params[:controller] %>
<% end %>

<h1>Editing Task</h1>

<%= render 'form', task: @task %>

<%= link_to 'Show', @task, remote: true %> |
<%= link_to 'Back', taskboards_dismiss_path, remote: true %>
