<%= form_with(model: @task, local: true) do |form| %>
    <% if @task.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
        <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
    </div>
    <% end %>
    
    <input type="hidden" name="task[taskboard_id]" value="<%= @taskboardId %>"></input>
    
    <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    </div>

    <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
    </div>

    <div class="field">
    <%= form.label :task_state_id %>
    <%= form.collection_select :task_state_id, @taskStates, :id, :name %>
    </div>

    <div class="field">
    <%= form.label :due_date %>
    <%= datetime_select :due_date, :date %>
    </div>

    <div class="actions">
    <%= form.submit %>
    </div>
<% end %>