<%= link_to raw('<i class="fas fa-edit"></i>'), edit_task_path(@task), remote: true %>
<%= link_to raw('<i class="fas fa-trash"></i>'), task_path(@task), method: :delete %>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Task state:</strong>
  <%= @task.task_state.name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date.date %>
</p>

<p>
  <strong>Taskboard:</strong>
  <%= @task.taskboard.name %>
</p>

