<h1>Sobre Mim</h1>

<b>Nome:</b> Fernando Aoyagui Shinohata.<br />
<b>Período atual:</b> Terceiro.<br />
<br />
<b>Atuais Atividades:</b>
<ul class='information-list'>
  <li>Monitor de CI237 (Matemática Discreta).</li>
  <li>Membro efetivo da empresa ECOMP.</li>
  <li>Jogador vitalício de truco.</li>
</ul>
<br />
<b>Local preferido:</b> Centro de Estudos de Informática - CEI.
<br />
Nos vemos lá ;)
